html {
  box-sizing: border-box;
  font-family: Roboto Condensed, sans-seirf;
  line-height: 2;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img flex {
  display: block;
  width: 100%;
}

.card {
  position: relative;
}

.card-background {
  max-height: 500px;
  overflow: hidden;
}

.banner {
justify-content: space-between;
align-items: flex-start;
padding: 0 1.5rem;
display: flex;
position: absolute;
top: 50%;
transform: translate(-50%, -52%);
width: 100%;
max-width: 45em;
left: 50%;
}

.icon {
  width: 34%;
}

.card-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.card-content {
  font-size: 1.5rem;
  margin: .5rem 0 1rem;
}

.content {
  width: 60%;
}

.btn-big {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
}

.btn {
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  border-style: solid;
  border-width: 3px;
  border-color: #333;
  display: inline-block;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}
